@model IEnurable<ImagemModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="input-group d-flex flex-column w-100">
        <a class="btn btn-info" asp-controller="Home" asp-action="ImportImage">Importar Imagem</a>
    </div>

    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 g-0 mt-5">


        @if(Model != null)
        {
            @if(Model.Count() > 0)
            {
                @foreach(var imagem in Model)
                {
                    <div class="card" style="width: 10rem; margin-left: 20px; margin-bottom: 20px; padding:10px">
                           <img src="/imagem/@imagem.CaminhoImagem" class="card-img-top" style="width: 140px; height:140px"/>
                           <a class="btn btn-warning w-100 mt-3">Editar</a>
                           <a class="btn btn-danger w-100 mt-3">Remover</a>
                    </div>
                }
            }
        }


    </div>

</div>