@model LivrosModel
@{
    ViewData["title"] = "Cadastrar Empréstimo";
}

<div class="container p-5 rounded-5">

    <div>
        <h1>Cadastro de Livros</h1>
    </div>

<form method="post" asp-controller="Livros" asp-action="Cadastrar">
    

    <div class="mb-3">
            <label for="Título" class="form-label">Título</label>
            <input type="text" class="form-control" asp-for="Titulo" id="Título" placeholder="Digite o título do livro">
    </div>


    <div class="mb-3">
        <label for="Autor" class="form-label">Autor</label>
            <input type="text" class="form-control" asp-for="Autor" id="Autor" placeholder="Digite o nome do autor">
    </div>


    <div class="mb-3">
        <label for="Páginas" class="form-label">Páginas</label>
            <input type="text" class="form-control" asp-for="Paginas" id="Autor" placeholder="Digite o número de páginas do livro">
    </div>


    <div class="mb-3">
        <label for="CapaDura" class="form-label">Capa Dura</label>
            <input type="text" class="form-control" asp-for="CapaDura"  id="CapaDura" placeholder="O livro possui capa dura?">
    </div>

    <div class="d-flex gap-5 mt-5">
            <button type="submit" class="btn btn-success w-50">Adicionar</button>
         <a class="btn btn-primary w-50" asp-controller="Livros" asp-action="Index">Voltar</a>
    </div>
     

</form>

</div>